.pageContainer {
  display: flex;
}
.rightContainer {
  padding: 0px 20px 0px 20px;
  width: 60%;
}

.leftContainer {
  padding: 0px 20px 0px 20px;
  width: 40%;
}
.parentDiv {
  display: flex;
}
.allignLeft {
}
.allignRight {
  margin-left: 10px;
}

.myTable {
  text-align: center;
}
th {
  text-align: center;
}
td {
  text-align: center;
}

input {
  width: 100%;
  height: 30px;
  text-align: center;
}

select {
  width: 100%;
  height: 30px;
  text-align-last: center;
}

button {
  background-color: grey;
  color: white;
}

.colorRed {
  background-color: red;
}
.colorGreen {
  background-color: green;
}

.colorOrange {
  background-color: orange;
}
